* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2,
section h3,
section h5, 
form button,
footer {
    font-family: "Montserrat", sans-serif;
}

body, input, textarea {
    font-family: "Roboto", sans-serif;    
    color: #676576;
}

header {
    padding: 16px 0;
    background-color: #fff8f8;
    color: #676576;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    text-decoration: none;
    font-weight: bold; 
    color: #676576;   
}
header nav li a:hover {
    color: #ff5252;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container,
.services-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home,
#contact {
    background-color: #fff8f8;    
}

section h2 {
    font-size: 30px;
    margin-bottom: 16px;
}

section h3 {
    color: #ff5252;
    font-size: 22px;
}

section h5 {
    color: #ff5252;
    font-size: 18px;
}

#services .container,
#contact .container {
    display: block;
}

#services h3, 
#contact h3 {
    padding: 16px 0;
}

.services-type,
.contact-methods {
    margin: 50px 0;
}

.services-type img {
    height: 60px;
}

.text-center {
    text-align: center;
}

.title {
    margin: 50px;
}

#services,
#contact {
    padding: 50px 0;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #ff5252;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #f78080;
    color: #676576;
}

input:focus, 
textarea:focus {
    outline-color: #ff5252;
}

.social-links img{
    height: 30px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

.call-me a{
    color: #676576;
    text-decoration: none;
}

.call-me a:hover{
    text-decoration: underline;
}

footer {
    padding: 16px 0;
}